<div id="bg">
  <div class="digits">
    <input type="text" id="digits" disabled autocomplete="off">
  </div>
  <div class="col-md-4 block control"  onclick="playToggle()">
    <p class="controls hidden" id="play">&#9658;</p>
    <p class="controls hidden" id="pause">&#10074;&#10074;</p>
    <% for number in @numbers %>
        <p class="number hidden" id="control-<%= number.id %>"><%= raw(number.character) %>&#9658</p>
    <%end%>


    <p class="intro" id="intro">Start Below</p>

  </div>
  <%= render(:partial => 'footerPlayer')%>
  </div>