<div class="container">
<div class="about-message">
  <h3 style="color:#6d9fff">Why?</h3>
  <p>
    I saw this video (<a href="https://www.youtube.com/watch?v=OMq9he-5HUU" target="_blank">link</a>) on Youtube
    some time back; and then, I saw a few more, All of them did basically the same thing.
    I thought these were really cool. So I thought why not just finish this once and for all.
  </p>
  <p>
    All popular irrational constants, all popular scales, with root note and tempo variations.
  </p>

  <h3 style="color:#6495ED">What's a scale? What's a note?</h3>
  <p>
    There are many systems of music, and they won't necessarily align with
    my explanation, but this should act as a quick starting point.
    Generally speaking there are 12 notes. They are
  </p>
  <p>
    A B&#9837; B C C# D E&#9837; E F F# G G#.
  </p>
  For simplicity's sake, you can also go ahead with A A# B C C# D D# E F F# G G#. The important point is that,
  there are no intermittents between B and C & E and F. A note is a particular pitch. A note in a different octave
  has a pitch which is integral multiple of this pitch.
  </p>
  <p>
    Taking a start point (aka, root note), you can create a
    formula (say 2,2,1,2,2,2,1 for a major scale; should add to a 12), to get the notes of a scale. For example -
    C Major scale would be C D E F G A B C. Pretty convenient, eh? Each scale has a formula.
  </p>
  <p>
    There are plenty of good 101 tutorials for music theory. Encourage you to check those out.
  </p>

  <h3 style="color:#6495ED">What's Next?</h3>
  <p>
    The application currently doesn't work very well as a background activity (tab). Hope to fix it soon.
  </p>
  <p>
    I had also initially planned on adding a percussion layer; also thought of adding more tracks
    for lead in which one could add more irrational numbers with
    different signatures and phases, but I don't see myself doing that for some time. If you like this
    and would like to work on that,
    fork the repo (<a href="https://github.com/akashagrahari/irrationalTunes" target="_blank">link</a>)
    on Github and drop me a pull request.
  </p>
  <br>
  <p style="position: fixed; bottom: 0;">
    Made with <a href="https://github.com/mudcube/MIDI.js/" target="_blank">Midi.js</a> |
    <a href="https://github.com/akashagrahari/irrationalTunes" target="_blank">Repo</a> Hosted on
    <a href="https://github.com/" target="_blank">Github</a>
  </p>
</div>
  </div>