<div class="intro-message">
  <h1>
    This is an experiment in music. Listen to the musical
    interpretation of irrational mathematical constants in
    different scales, tempo variations and octaves.
  </h1>
  <br>
  <h1>
    Do check out the links to the top right if you like this, want to know more about
    the project or the theory behind it
  </h1>
  <br>
  <%= link_to 'Take Me To Church', {:controller => 'index' , :action => 'home'} %>
</div>