<div class="container">
<div class="about-message">
  <h3 style="color:#6d9fff">About Me</h3>
  <p>
    My name is Akash Agrahari. I work as a Software Development Engineer in Flipkart.
    I am a BITS Pilani alumni. And I am an avid fan of music, and technology.
  </p>
  <h3 style="color:#6d9fff">My Work</h3>
  <p>
    I work on a lot of things. Own compositions, Instrument Covers, Song Covers, Free Software and WebApps.
    I don't intend to put ads on any of this, but doing these things takes up my time and requires resources.
  </p>
  <p>
    Please do like me on <strong>Facebook</strong>, follow me on
    <strong>SoundCloud</strong>,
    and subscribe to my <strong>Youtube</strong> channel. It really does help.
  </p>
  <p>
    If you really like my work, consider becoming my patron on Patreon.
    This allows me to focus on work and making better things. My apps are and will always be free.
  </p>
  <p>
    Part of the money collected from this channel goes into maintaining and hosting these apps.
    The other part goes into improving my equipment stack and recording expenses.
  </p>
  <ul class="list-unstyled">
    <li>Patreon</li>
    <li><a href="https://www.facebook.com/akashagrahari2392" target="_blank">Facebook</a></li>
    <li><a href="https://soundcloud.com/akash-agrahari" target="_blank">SoundCloud</a></li>
    <li><a href="https://www.youtube.com/user/classicguy1992" target="_blank">Youtube</a></li>
  </ul>
</div>
</div>